body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
}

.tuna {
    margin-top: -100px;
}

.paw {
    transition: transform .25s ease-in;
    will-change: transform;
}

.active .paw {
    transform: translateX(100px);
}

.ball {
    position: relative;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    top: 41%;
    left: 10%;
    transition: all 1s ease-in;
    transition-delay: .05s;
    will-change: transform;
    animation: ballColor 1s ease-in-out;
}

@keyframes ballColor {
    0% {
        background: red;
        border-radius: 50%;
    }

    50% {
        background: pink;
        border-radius: 23% 40% 18% 2% / 90% 14% 78% 15%;
    }

    100% {
        background: blue;
        border-radius: 25% 15% 10% 5% / 5% 10% 15% 25%;
    }
}

.active .ball {
    transform: translateX(200px);
}
