body {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 100%;
}

.tuna {
    margin-top: -100px;
}

.paw {
    transition: transform .25s ease-in;
}

.active .paw {
    transform: translateX(100px);
}

.ball {
    position: relative;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    top: 80%;
    left: 10%;
    transition: transform 1s ease-in;
    transition-delay: .25s;
}

.active .ball {
    transform: translateX(200px);
}
